<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/f5c48ccc-db76-48ad-b0bb-969ce2f28161/v3/index.json" />
  </packageSources>
</configuration>